<section class="content-header">
</section>

<section class="content">
  <section class="invoice">
    <form [formGroup]="orderForm" novalidate>
      <div class="row">
        <div class="col-xs-12">
          <h2 class="page-header">
            <i class="fa fa-shopping-cart"></i> Finalize o seu pedido
          </h2>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-12">
          <p>Seus Dados:</p>
        </div>
        <div class="col-sm-6 col-xs-12">
          <mt-input-container label="Nome" errorMessage="Campo obrigatório, mínimo 5 caracteres.">
            <input type="text" formControlName="name" class="form-control" placeholder="Nome" autocomplete="off">
          </mt-input-container>
        </div>
        <div class="col-sm-2 col-xs-6">
          <mt-input-container label="E-mail" errorMessage="E-mail inválido.">
            <input type="text" formControlName="email" class="form-control" placeholder="E-mail" autocomplete="off">
          </mt-input-container>
        </div>
        <div class="col-sm-4 col-xs-6">
          <mt-input-container label="Confirmação do e-mail" errorMessage="E-mail inválido.">
            <input type="text" formControlName="emailConfirmation" class="form-control" placeholder="Confirmação do e-mail" autocomplete="off">
          </mt-input-container>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-12">
          <p class="lead">Endereço de Entrega:</p>
        </div>

        <div class="col-sm-6 col-xs-12">
          <div class="form-group">
            <mt-input-container label="Endereço" errorMessage="Campo obrigatório, mínimo 5 caracteres.">
              <input type="text" formControlName="address" class="form-control" placeholder="Endereço" autocomplete="off">
            </mt-input-container>
          </div>
        </div>

        <div class="col-sm-2 col-xs-6">
          <mt-input-container label="Número" errorMessage="Obrigatório, apenas números.">
            <input type="text" formControlName="number" class="form-control" placeholder="Número" autocomplete="off">
          </mt-input-container>
        </div>

        <div class="col-sm-4 col-xs-6">
          <mt-input-container label="Complemento">
            <input type="text" formControlName="optionalAddress" class="form-control" placeholder="Complemento" autocomplete="off">
          </mt-input-container>
        </div>

      </div>

      <div class="row">
        <div class="col-xs-12">
          <p class="lead">Itens do Pedido:</p>
        </div>

        <mt-order-items
          [items]="cartItems()"
          (increaseQty)="increaseQty($event)"
          (decreaseQty)="decreaseQty($event)"
          (removeItem)="removeItem($event)">
        </mt-order-items>
      </div>


      <div class="row">

        <div class="col-sm-6 col-xs-12">
          <p class="lead">Formas de Pagamento:</p>

          <div class="form-group">
            <mt-radio [options]="paymentOptions" formControlName="paymentOption"></mt-radio>
          </div>

        </div>

        <div class="col-sm-6 col-xs-12">
          <p class="lead">Frete e Total:</p>

          <mt-delivery-costs [delivery]="delivery" [itemsValue]="itemsValue()">
          </mt-delivery-costs>
        </div>

      </div>

    </form>

    <div class="row">
      <div class="col-xs-12">
        <button class="btn btn-success pull-right" (click)="checkoutOrder(orderForm.value)" [disabled]="!orderForm.valid || cartItems().length === 0">
          <i class="fa fa-credit-card"></i> Concluir Pedido
        </button>
      </div>
    </div>

  </section>
</section>