<!--INICIO DO CONTEUDO-->
<section class="content-header">
</section>

<section class="content">
  <section class="invoice">
    {{form.value | json}}
    <form #form="ngForm" novalidate>
      <div class="row">
        <div class="col-xs-12">
          <h2 class="page-header">
            <i class="fa fa-shopping-cart"></i> Finalize o seu pedido
          </h2>
        </div>
      </div>

      <div class="row invoice-info">
        <div class="col-xs-12">
          <p class="lead">Endereço de Entrega:</p>
        </div>

        <div class="col-sm-6 col-xs-12">
          <!--
                <div class="form-group"
                  [class.has-success]="iptAddress.valid && (iptAddress.dirty || iptAddress.touched)"
                  [class.has-error]="!iptAddress.valid && (iptAddress.dirty || iptAddress.touched)">
                  <label class="control-label sr-only" for="inputSuccess"><i class="fa fa-check"></i> Endereço</label>
                  <input type="text" name="address" ngModel required minlength="5" #iptAddress="ngModel"
                    class="form-control" placeholder="Endereço" autocomplete="off">
                  <span class="help-block" *ngIf="iptAddress.valid && (iptAddress.dirty || iptAddress.touched)"><i class="fa fa-check"></i> Ok</span>
                  <span class="help-block" *ngIf="!iptAddress.valid && (iptAddress.dirty || iptAddress.touched)"><i class="fa fa-remove"></i> Help block with error</span>
                </div>
              -->
          <div class="form-group">
            <mt-input-container label="Endereço" errorMessage="Campo obrigatório, mínimo 5 caracteres.">
              <input type="text" name="address" ngModel required minlength="5" class="form-control" placeholder="Endereço" autocomplete="off">
            </mt-input-container>
          </div>
        </div>

        <div class="col-sm-2 col-xs-6">
          <mt-input-container label="Número" errorMessage="Obrigatório, apenas números.">
            <input type="text" name="number" ngModel required pattern="^[0-9]*$"
            class="form-control" placeholder="Número" autocomplete="off">
          </mt-input-container>
        </div>

        <div class="col-sm-4 col-xs-6">
          <mt-input-container label="Complemento">
            <input type="text" name="optional" ngModel class="form-control" placeholder="Complemento" autocomplete="off">
          </mt-input-container>
        </div>

      </div>

      <div class="row">
        <div class="col-xs-12">
          <p class="lead">Itens do Pedido:</p>
        </div>
        
        <mt-order-items></mt-order-items>
      </div>
      

      <div class="row">
        <!-- accepted payments column -->
        <div class="col-sm-6 col-xs-12">
          <p class="lead">Formas de Pagamento:</p>

          <div class="form-group">
            <mt-radio [options]="paymentOptions" name="paymentOption" ngModel></mt-radio>

          </div>

        </div>
        <!-- /.col -->
        <div class="col-sm-6 col-xs-12">
          <p class="lead">Frete e Total:</p>

          <div class="table-responsive">
            <table class="table">
              <tbody>
                <tr>
                  <th style="width:50%">Itens:</th>
                  <td class="text-right">R$ 20,00</td>
                </tr>
                <tr>
                  <th>Frete:</th>
                  <td class="text-right">R$ 8,00</td>
                </tr>
                <tr>
                  <th>Total:</th>
                  <td class="text-right">R$ 28,00</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <!-- /.col -->
      </div>

    </form>

    <div class="row">
      <div class="col-xs-12">
        <button class="btn btn-success pull-right" [disabled]="!form.valid">
          <i class="fa fa-credit-card"></i> Concluir Pedido
        </button>
      </div>
    </div>

  </section>
</section>
<!-- FIM DO CONTEUDO-->